/* Header */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
}

header .logo {
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 4rem;
}

header nav a {
    color: var(--grey);
}

header nav a + a {
    margin-left: 1rem;
}

header nav a:hover {
    color: var(--white);
}

/* Filme principal */
.film-main {
    font-size: 1.6rem;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/img/capa-house.jpg') no-repeat;

    height: 40rem;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.film-main .container {}

.film-main .container .title {
    font-size: 4rem;
}

.film-main .container .description {
    margin-bottom: 4rem;
}

.film-main .container .buttons {}