@media screen and (max-width: 1100px) {
    header .container {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .film-main .container .buttons {
        flex-direction: column;
    }

    .film-main .container .buttons .button {
        margin-top: .5rem;
        margin-left: .0rem;
        width: 100%;
    }
}