@media screen and (max-width: 610px) {
    header .container {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    header .container .left {
        flex-direction: column;
    }

    header .container .right {
        visibility: hidden;
        overflow: hidden;
    }

    .film-main .container .buttons {
        flex-direction: column;
    }

    .film-main .container .buttons .button {
        margin-top: .5rem;
        margin-left: .0rem;
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .film-main {
        background: url('/img/dark-alliance-2.jpg') no-repeat;
        height: 90vh;
        background-size: cover;
    }
}